@media (max-width: 808px) and (min-width: 481px) {
    .queroDoar {
        height: 91vh;
    }
    
    .queroDoar p {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 480px) and (min-width: 394px) {
    .queroDoar {
        justify-content: center;
        height: 90vh;
    }
    
    .queroDoar p {
        text-align: center;
        font-size: 26px;
    }

    .queroDoar .formulario {
        width: 90%;
    }
}

@media (max-width: 393px) {
    
    .queroDoar p {
        text-align: center;
        font-size: 25px;
        width: 90%;
    }

    .queroDoar .formulario {
        width: 90%;
    }

    .queroDoar .formulario div {
        width: 90%;
    }

    .queroDoar .formulario form input {
        width: 90%;
    }
}