@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Satisfy&family=Updock&display=swap');

main {
    display: block;
    width: 100%;
    height: 200vh;
  }
  main .secaoHome img {
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  main .secaoHome h2 {
    position: absolute;
    width: 30%;
    color: white;
    top: 50%;
    left: 4%;
    font-size: 48px;
  }
  main .insentivoEducacao {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
  main .insentivoEducacao h2 {
    color:#005695;
    font-size: 40px;
    font-weight: 500;
    left: 4%;
    position: absolute;
    top: 130%;
    font-family: 'Inter', sans-serif;
  }
  main .insentivoEducacao .destaque {
    display: grid;
    gap: 160px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 150%;
    left: 4%;
    flex-wrap: wrap;
  }
  main .insentivoEducacao .destaque div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    width: 320px;
    height: 358px;
    padding: 18px;
    text-align: center;
    background-color: #b3cddf;
  }
  main .insentivoEducacao .destaque div img {
    width: 120px;
  }

  main .insentivoEducacao .destaque div p {
    font-size: 19pt;
    font-family: 'Inter', sans-serif;
  }
