footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005695;
    width: 100%;
    height: 120px;
  }
  footer .telefone-contato {
    margin-left: 50px;
  }
  footer .telefone-contato p {
    font-size: 22px;
    font-weight: 500px;
    color: white;
  }
  footer .redes-sociais {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  footer .redes-sociais a i {
    font-size: 35px;
    color: white;
  }