.container-livros {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    height: 100vh;
}

.container-livros h2 {
    font-size: 40px;
}

.container-livros .livros {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    width: 80%;
    height: 90vh;
    padding-top: 50px;
}

.container-livros .livros .livro {
    border: 3px solid #005695;
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    height: 250px;
}

.container-livros .livros .livro img {
    width: 120px;
}

.container-livros .livros .livro div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}