@media (max-width: 808px) {
    .container-livros .livros {
        justify-content: center;
    }

    .container-livros .livros .livro {
        scale: 1.3;
    }
}

@media (max-width: 480px) {
    .container-livros h2 {
        font-size: 35px;
    }

    .container-livros .livros .livro {
        scale: 1.1;
    }
}

@media (max-width: 393px) {
    .container-livros {
        justify-content: center;
    }

    .container-livros h2 {
        font-size: 30px;
    }

    .container-livros .livros {
        padding-top: 20px;
    }

    .container-livros .livros .livro {
        scale: 0.9;
    }
}